<h1>Listing accounts</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.name %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Account', new_account_path %>

<div id="chart_div" style="width: 900px; height: 500px;"></div>


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Monto', 'Cuotas', 'Compras'],
      <% Account.forecast.each do |date,f| %>
        <% d = "'" + Date.strptime(date.to_s,'%m').strftime('%b') + "'" %>
        <%= "[#{d},#{f[:total_with_installments].to_i},#{(f[:total] - f[:total_with_installments]).to_i}],".html_safe %>
      <% end %>
    ]);

    var options = {
      title: 'Forecast',
      vAxis: {title: 'Monto'},
      isStacked: true,
      colors: ['4D89F9','C6D9FD','papayawhip']
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>
 