
<h3>Cuentas de gastos
<%= link_to 'Nueva', new_account_path, :class => "btn" %>
</h3>

<div class="row">

<div class="well">
  <%= render 'forecast', :statements => Account.statements %>
</div>

<div class="well">
  <table>
  <% Set.new(@accounts.collect { |acct| acct.account_type_readable }).each do |type| %>
    <tr><td colspan="2"><h5><%= type %></h5></td></tr>
    <% @accounts.select { |acct| acct.account_type_readable == type }.each do |acct| %>
    <tr>
      <td><%= link_to acct,acct %></td><td><%= number_to_currency((acct.current_statement || Statement.new).ammount) %></td>
    </tr>
    <% end %>
  <% end %>
  </table>
</div>

<%= link_to "Volver", :root, :class => "btn" %>

</div>
</div>