<h5><%= @statement.account.account_type_readable %>
<h3><%= @statement.account %></h3>

<%= form_for([@statement.account, @statement]) do |f| %>
  <% if @statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

      <ul>
      <% @statement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :closing_date, "Fecha de cierre" %><br />
    <%= f.date_select :closing_date %>
  </div>
  <div class="field">
    <%= f.label :due_date, "Fecha de vencimiento" %><br />
    <%= f.date_select :due_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= link_to "Volver", :back, :class => "btn" %>
  </div>
<% end %>
