
<div class="row">

<h3>
  Gastos del mes <%= @month %>
</h3>

<p id="notice"><%= notice %></p>

<div class="well">

<div class="row offset3">
<%= render 'categories', :expenses => @expenses %>
</div>

<%= render 'expenses/list', :expenses => @expenses %>

<%= link_to 'Volver', accounts_path, :class => "btn" %> 

</div>
</div>