<p id="notice"><%= notice %></p>

<p>
  <b>Cuenta:</b>
  <%= link_to(@statement.account.name, @statement.account) %>
</p>

<p>
  <b>Cierre:</b>
  <%= @statement.closing_date %>
</p>

<p>
  <b>Vencimiento:</b>
  <%= @statement.due_date %>
</p>

<b>Transactions:</b>
<table width="800px">
  <tr>
    <th>Fecha</th>
    <th>Descripción</th>
    <th>Cuota</th>
    <th>Num</th>
    <th>Monto</th>
  </tr>
  <tbody>
  <% sum_installments = 0; sum_all = 0 %>
  <% @statement.statement_expenses.each do |exp| %>
  <% sum_installments += exp.ammount if exp.installment > 0 %>
  <% sum_all += exp.ammount if exp.ammount > 0 %> 
  <tr>
    <td><%= exp.date.strftime('%D') %></td>
    <td><%= exp.description %></td>
    <td><%= (exp.installment > 0)? "#{exp.installment}/#{exp.total_installments}" : "-" %></td>
    <td><%= exp.num %></td>
    <td><%= "$ #{exp.ammount}" %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_statement_path(@statement) %> |
<%= link_to 'Back', statements_path %>
