
<div class="row">

<h3>
  Resumen de cuenta
  <%= link_to 'Borrar', [@statement.account,@statement], method: :delete, data: { confirm: 'Are you sure?' }, 
  :class => "btn btn-danger" %>
</h3>

<h5><%= @statement.account %></h5>
<p id="notice"><%= notice %></p>

<div class="well">

<div class="row offset3">
<div class="span2">
  <b>Cierre</b>
  <div class="alert"><%= @statement.closing_date.strftime("%d/%m/%y") %></div>
</div>

<div class="span2">
  <b>Vencimiento</b>
  <div class="alert">
  <% if @statement.due_date.nil? %>
    <b>Resumen futuro estimado</b>
  <% else %>
    <%= @statement.due_date %>
  <% end %>
</div>
</div>

<div class="span2">
  <b>Total</b>
  <div class="alert">
    <%= number_to_currency(@statement.ammount) %>
  </div>
</div>

</div>

<div class="row offset3">
<%= render 'categories', :expenses => @statement.expenses %>
</div>

<h5>Transacciones
  <%= link_to 'Nueva', new_account_statement_expense_path(@statement.account, @statement), :class => "btn" %> <br/>
</h5>

<%= render 'expenses/list', :expenses => @statement.expenses %>

<%= link_to 'Volver', account_path(@statement.account), :class => "btn" %> 

</div>
</div>