<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @bank_transaction.date %>
</p>

<p>
  <b>Description:</b>
  <%= @bank_transaction.description %>
</p>

<p>
  <b>Ammount:</b>
  <%= @bank_transaction.ammount %>
</p>


<%= link_to 'Edit', edit_bank_transaction_path(@bank_transaction) %> |
<%= link_to 'Back', bank_transactions_path %>
