<%= form_for(@statement_expense) do |f| %>
  <% if @statement_expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statement_expense.errors.count, "error") %> prohibited this statement_expense from being saved:</h2>

      <ul>
      <% @statement_expense.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :num %><br />
    <%= f.text_field :num %>
  </div>
  <div class="field">
    <%= f.label :installment %><br />
    <%= f.number_field :installment %>
  </div>
  <div class="field">
    <%= f.label :ammount %><br />
    <%= f.text_field :ammount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
