<h1>Listing statement_expenses</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Installment</th>
    <th>Num</th>
    <th>Ammount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @statement_expenses.each do |statement_expense| %>
  <tr>
    <td><%= statement_expense.date %></td>
    <td><%= statement_expense.description %></td>
    <td><%= statement_expense.installment %></td>
    <td><%= statement_expense.num %></td>
    <td><%= statement_expense.ammount %></td>
    <td><%= link_to 'Show', statement_expense %></td>
    <td><%= link_to 'Edit', edit_statement_expense_path(statement_expense) %></td>
    <td><%= link_to 'Destroy', statement_expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Statement expense', new_statement_expense_path %>
